:root {
  --font-pop: Poppins;
  --font-mono: Consolas;
  --font-main: system-ui;
  --font-sans: sans-serif;
  --font-fallback: Helvetica;
  --font-stack: var(--font-main) var(--font-fallback) var();
  font-family: var(---font-stack);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 9;
 }
body {
  margin: 0;
  padding-bottom: 3rem;
}

#send {
  --pad: 0.25rem;
  --bg: rgba(0, 0, 0, 0.15);
  background: var(--bg);
  padding: var(--pad);
  position: fixed;
  & input {
    --border: 1px solid transparent;
    appearance: auto;
    border: var(--border);
    & :focus { outline: none; }
  }
}
